/* green button of log in/ registration and download */
.button_log_sign {
    width: 85%;
    background-color: #58c791;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button_log_sign:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  .button_log_sign:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  .button_log_sign:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }